.font-lora{
    font-family: 'Lora', serif;
    margin: 0;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.flex-content{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width img{
    height: 600px;
    width: 100%;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 58px;
}
h3{
    font-size: 40px;
}
p{
    font-size: 20px;
    text-align: justify;
}
.orange-color{
    color: rgb(252, 118, 8);
}
.navy-color{
    color: rgb(3, 3, 48);
}
.link-text{
    text-decoration: none;
    background-image:linear-gradient(rgb(230, 43, 10), tomato);
    color: white;
    font-weight: 700;
    padding: 12px 40px;
    border-radius: 5px;
    font-size: 20px;
}
.left-border{
    border-left:7px solid;
    border-image: linear-gradient(rgb(230, 43, 10), tomato);
    border-image-slice: 1;
}
.one-third-width img{
    width: 55%;
}
.one-third-width{
    width: 33%;
    margin: 5%;
    border-radius: 5%;
    padding: 10px;
}
.bluish{
    background-color: rgb(197, 211, 230);
}
.violetish{
    background-color: rgb(226, 207, 226);
}
.pinkish{
    background-color: rgb(247, 217, 223);
}
.text-center{
    text-align: center;
}

