.font-lora{
    font-family: 'Lora', serif;
    margin: 0;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.flex-content{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width img{
    width: 100%;
    margin-left: 5%;
}
h1{
    font-size: 65px;
    padding-left: 7px;
}
h2{
    font-size: 58px;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 40px;
}
p{
    font-size: 20px;
    text-align: justify;
}
.orange-color{
    color: rgb(252, 118, 8);
}
.navy-color{
    color: rgb(8, 8, 90);
}
.link-text{
    text-decoration: none;
    background-image:linear-gradient(rgb(150, 26, 4), rgb(248, 41, 4));
    color: white;
    font-weight: 700;
    padding: 12px 40px;
    border-radius: 5px;
    font-size: 20px;
}
.left-border{
    border-left:5px solid;
    border-image: linear-gradient(rgb(172, 29, 4), rgb(247, 41, 5));
    border-image-slice: 1;
}
.one-third-width img{
    width: 55%;
}
.one-third-width{
    width: 33%;
    margin: 5%;
    border-radius: 5%;
    padding: 10px;
}
.bluish{
    background-color: rgb(208, 219, 235);
}
.violetish{
    background-color: rgb(226, 207, 226);
}
.pinkish{
    background-color: rgb(252, 227, 233);
}
.text-center{
    text-align: center;
}
.bacground-image-develop{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.background-image-community{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 2%;
    width: 100%;
}
footer span{
    font-size: 35px;
    font-family: cursive;
}
.tomato-color{
    color: rgb(252, 19, 2);
}
.back-image-learn-web{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

